= form_with(model: meeting, local: true) do |form|
  - if meeting.errors.any?
    #error_explanation
      %h2
        = pluralize(meeting.errors.count, "error")
        prohibited this meeting from being saved:
      %ul
        - meeting.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :スケジュールを入力してください
    = form.text_field :"name"
  .field
    = form.label :開始時間を入力してください
    = form.datetime_select :start_time
    = form.label "画像をアップロード"
    = form.file_field :image
      - if @meeting.image?
      = image_tag @meeting.image.url
  .actions
    = form.submit class:"btn"
