<p id="notice"><%= notice %></p>

<h1>MANEJA</h1>
  <div class="first-view">
    <img src="/assets/techou.jpg" alt="トップ画面" class="top-image">
      <div class="carousel-caption">
			<span class="h1">MANEJA</span>
			<p>スケジュール調整を、もっと楽に。</p>
		</div>
  </div>
    <div class="secound-view">
      <tr>
        <th>SHEDULE LIST</th>
        <th colspan="3"></th>
      </tr>
    </div>

<table>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to '', meeting,{class:"fas fa-list my-white fa-2x"} %></td>
        <td><%= link_to '', edit_meeting_path(meeting),{class:"fas fa-edit my-white fa-2x"} %></td>
        <td><%= link_to '', meeting, method: :delete, data: { confirm: 'Are you sure?' },class:"far fa-trash-alt my-white fa-2x"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href=/meetings/new class="btn-square">NEW</a>
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date.day %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>