%p#notice= notice
%h1 DETAIL
%p1
  %strong Name:
  = @meeting.name
%p1
  %strong Start time:
  = @meeting.start_time
%p2
  - if @meeting.image?
    = image_tag @meeting.image.url
.container
  - if current_user
    = form_with(model: [@meeting, @comment], local: true) do |form|
      = form.text_area :text, placeholder: "コメントする", rows: "3"
      = form.submit "SEND",{class:"sendbtn"}
  - else
    %strong
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
.comments
  %h4 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      %p
        %strong
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
          ：
        = comment.text

= link_to '編集', edit_meeting_path(@meeting),{class:"backbtn"}
= link_to 'Back', meetings_path, {class:"backbtn"}
